/*!
 * Start Bootstrap - Freelancer v3.3.7+1 (http://startbootstrap.com/template-overviews/freelancer)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden
}
p {
    font-size: 20px
}
p.small {
    font-size: 16px
}
a,
a.active,
a:active,
a:focus,
a:hover {
    color: #18BC9C
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700
}
hr.star-light,
hr.star-primary {
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px
}
hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -.8em;
    font-size: 2em;
    padding: 0 .25em
}
hr.star-light {
    border-color: #fff
}
hr.star-light:after {
    background-color: #18BC9C;
    color: #fff
}
hr.star-primary {
    border-color: #2C3E50
}
hr.star-primary:after {
    background-color: #fff;
    color: #2C3E50
}
.img-centered {
    margin: 0 auto
}
header {
    text-align: center;
    background: rgb(156, 198, 202);
    color: #fff
}
header .container {
    padding-top: 100px;
    padding-bottom: 50px
}
header img {
    display: block;
    margin: 0 auto 20px
}
header .intro-text .name {
    display: block;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em
}
header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300
}
@media (min-width: 768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px
    }
    header .intro-text .name {
        font-size: 4.75em
    }
    header .intro-text .skills {
        font-size: 1.75em
    }
}
.navbar-custom {
    background: #2C3E50;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border: none
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand.active,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:hover {
    color: #fff
}
.navbar-custom .navbar-nav {
    letter-spacing: 1px
}
.navbar-custom .navbar-nav li a {
    color: #fff
}
.navbar-custom .navbar-nav li a:hover {
    color: #18BC9C
}
.navbar-custom .navbar-nav li a:active,
.navbar-custom .navbar-nav li a:focus {
    color: #fff
}
.navbar-custom .navbar-nav li.active a,
.navbar-custom .navbar-nav li.active a:active,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:hover {
    color: #fff;
    background: #18BC9C
}
.navbar-custom .navbar-toggle {
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    border-color: #fff
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:hover {
    background-color: #18BC9C;
    color: #fff;
    border-color: #18BC9C
}
@media (min-width: 768px) {
    .navbar-custom {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s
    }
    .navbar-custom .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s
    }
    .navbar-custom.affix {
        padding: 10px 0
    }
    .navbar-custom.affix .navbar-brand {
        font-size: 1.5em
    }
}
section {
    padding: 100px 0
}
section h2 {
    margin: 0;
    font-size: 3em
}
section.project {
    background: #15909b;
    color: #fff
}
@media (max-width: 767px) {
    section {
        padding: 75px 0
    }
    section.first {
        padding-top: 75px
    }
	.img-logo {
		max-width: 80px !important;
		padding-top: 15px;
	}
	header .intro-text .skills,
	#btn-change {
		font-size: 16px !important;
	}
}
#portfolio .portfolio-item {
    margin: 0 0 15px;
    right: 0
}
#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto
}
#portfolio .portfolio-item .portfolio-link .caption {
    background: rgba(24, 188, 156, .9);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: #fff
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0
}
#portfolio * {
    z-index: 2
}
@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px
    }
}
.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee
}
.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: none;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none
}
.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease, opacity .3s ease;
    -moz-transition: top .3s ease, opacity .3s ease;
    -ms-transition: top .3s ease, opacity .3s ease;
    transition: top .3s ease, opacity .3s ease
}
.floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee
}
.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1
}
.floating-label-form-group-with-focus label {
    color: #18BC9C
}
form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee
}
footer {
    color: #fff
}
footer h3 {
    margin-bottom: 30px
}
footer .footer-above {
    padding-top: 50px;
    background-color: #2C3E50
}
footer .footer-col {
    margin-bottom: 50px
}
footer .footer-below {
    padding: 25px 0;
    background-color: #233140
}
.btn-outline {
    color: #fff;
    font-size: 20px;
    border: 2px solid #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
    margin-top: 15px
}
.btn-outline.active,
.btn-outline:active,
.btn-outline:focus,
.btn-outline:hover {
    color: #18BC9C;
    background: #fff;
    border: 2px solid #fff
}
.btn-primary {
    color: #fff;
    background-color: #2C3E50;
    border-color: #2C3E50;
    font-weight: 700
}
.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #1a242f;
    border-color: #161f29
}
.btn-primary.active,
.btn-primary:active,
.open .dropdown-toggle.btn-primary {
    background-image: none
}
.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    background-color: #2C3E50;
    border-color: #2C3E50
}
.btn-primary .badge {
    color: #2C3E50;
    background-color: #fff
}
.btn-success {
    color: #fff;
    background-color: #18BC9C;
    border-color: #18BC9C;
    font-weight: 700
}
.btn-success.active,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.open .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #128f76;
    border-color: #11866f
}
.btn-success.active,
.btn-success:active,
.open .dropdown-toggle.btn-success {
    background-image: none
}
.btn-success.disabled,
.btn-success.disabled.active,
.btn-success.disabled:active,
.btn-success.disabled:focus,
.btn-success.disabled:hover,
.btn-success[disabled],
.btn-success[disabled].active,
.btn-success[disabled]:active,
.btn-success[disabled]:focus,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success.active,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:hover {
    background-color: #18BC9C;
    border-color: #18BC9C
}
.btn-success .badge {
    color: #18BC9C;
    background-color: #fff
}
.btn-social {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px
}
#skipnav a {
    padding: 6px;
    position: absolute;
    top: -40px;
    left: 0;
    color: #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-bottom-right-radius: 8px;
    background: 0 0;
    transition: top 1s ease-out, background 1s linear;
    z-index: 2000
}
#skipnav a:focus {
    position: absolute;
    left: 0;
    top: 0;
    background: #18BC9C;
    outline: 0;
    transition: top .1s ease-in, background .5s linear
}
div#maincontent {
    outline: 0
}
.container-fluid {
	padding-bottom: 15px;
}
.img-lampada {
	max-width: 100px;
	height: 130px;
	margin: 0 auto;
}
.img-logo {
	max-width: 200px;
	padding-top: 20px;
}
button.btn-project {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	width: 100px;
    height: 50px;
}
.center {
	text-align: center;
}
.row {
	margin-bottom: 15px;
}
#btn-change.btn-on {
	background-color: #cee3f9;
	border-radius: 6px;
    border: none;
	outline: none;
}
#btn-change.btn-off {
	background-color: #fefd33;
	border-radius: 6px;
    border: none;
	outline: none;
}
